<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BLUserDefaultsKeyAngle</key>
	<integer>0</integer>
	<key>BLUserDefaultsKeyZoom</key>
	<integer>0</integer>
	<key>BLUserDefaultsKeyLineWidth</key>
	<real>3.5</real>
	<key>BLUserDefaultsKeyIsFilled</key>
	<false/>
	<key>BLUserDefaultsKeyPathType</key>
	<integer>0</integer>
	<key>BLUserDefaultsKeyLineCapStyle</key>
	<integer>0</integer>
	<key>BLUserDefaultsKeyDashStyle</key>
	<integer>0</integer>
	<key>BLUserDefaultsKeyKeyEquivalent</key>
	<string>E</string>
	<key>BLUserDefaultsKeyKeyEquivalentModifier</key>
	<real>1376256</real>
</dict>
</plist>
